* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tittleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    font-family: monospace;
    font-size: 28px;
}

.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex: 1;
}

#info {
    font-size: 26px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0px 50px;
}

.buttonContainer>button {
    color: white;
    background-color: black;
    border: 2px solid gray;
    width: 20vw;
    height: 12vh;
    font-size: 3vw;
    font-weight: bolder;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.scores {
    display: flex;
    padding: 5px;
    gap: 10px;
}