* {
    margin: 0;
}

.tittleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    font-family: monospace;
    font-size: 26px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttonContainer > button {
    color: white;
    background-color: black;
    border: 2px solid gray;
    width: 100px;
    height: 50px;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.scores {
    display: flex;
    padding: 5px;
    gap: 10px;
}