* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tittleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    font-family: monospace;
    font-size: 28px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex: 1;
}

#info, #result {
    font-size: 28px;
}

#result {
    padding: 30px 0 0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0px 50px;
}

.buttonContainer>button {
    color: white;
    background-color: black;
    border: 2px solid gray;
    width: 20vw;
    height: 12vh;
    font-size: 3vw;
    font-weight: bolder;
    transition: background-color 0.2s;
}

.buttonContainer>button:hover {
    background-color: gray;
    border: 1px solid black;
    text-shadow: 2px 0px 0px black,
        0px 2px 0px black,
        -2px 0px 0px black,
        0px -2px 0px black;
}

.buttonContainer>button.win {
    background-color: #03ff03;
    transition: background-color 0.1s;
}

.buttonContainer>button.lose {
    background-color: #ff0303;
    transition: background-color 0.1s;
}

.buttonContainer>button.tie {
    background-color: black;
    transition: background-color 0.1s;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0 40px;
    font-size: 20px;
}

.scores {
    display: flex;
    padding: 5px;
    gap: 10px;
}